* {
  margin: 0;
  padding: 0;
}

body {
  border-radius: 20px;
  width: 80%;
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header,
section {
  padding-right: 3%;
}
h1 {
  color: #333333;
  margin-left: 25px;
}

h2 {
  color: rgba(2, 87, 166, 0.988);
}

h2 {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: rgba(2, 87, 166, 0.988);
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
h2:hover {
  color: #fff;
  box-shadow: inset 190px 0 0 0 rgba(2, 87, 166, 0.988);
  border-radius: 5px;
}

p,
li {
  font-size: 20px;
  color: rgb(44, 44, 44);
}

figcaption {
  margin-left: 25px;
  font-weight: bold;
}

header {
  padding-top: 3%;
}

header,
hr {
  margin-left: 25%;
  margin-bottom: 30px;
  margin-right: 10px;
}

aside ul,
h2,
p {
  margin-left: 20px;
}
aside li {
  margin-left: 20px;
}

aside {
  background-position-y: 100%;
  background-color: rgba(201, 234, 251, 0.613);
}
aside {
  height: 1100vh;
  width: 600px;
  margin-top: -330px;
}

main {
  display: flex;
  margin-top: 20px;
}

section {
  margin-top: 20px;
  margin-left: 60px;
}

section li {
  font-weight: bolder;
  font-size: 20px;
}

li {
  padding-bottom: 10px;
  color: #333333;
}

.lado {
  width: 220px;
  margin-top: 350px;
  border-right: 1px solid rgb(0, 0, 255);
  height: 100%;
}

/* NUMERO EXPLOSIVO  */

.line {
  display: flex;
  justify-content: space-between;
}

.fancy > .num {
  display: inline-block;
  transition: transform 350ms ease;
}
.fancy:hover > .num {
  transition: transform 800ms ease;
  background: -webkit-linear-gradient(
    45deg,
    #edf8f5,
    #e5ffcc,
    #1ebea5,
    #00e676,
    #00e676,
    #d0e9ea,
    #ffffff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fancy:hover > .num:nth-child(1) {
  transform: translate(-40%, -20%) rotate(8deg);
}
.fancy:hover > .num:nth-child(2) {
  transform: translate(-20%, -10%) rotate(4deg);
}
.fancy:hover > .num:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}
.fancy:hover > .num:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}
.fancy:hover > .num:nth-child(5) {
  transform: translate(0%, 60%) rotate(8deg);
}
.fancy:hover > .num:nth-child(6) {
  transform: translate(0%, -20%) rotate(-3deg);
}
.fancy:hover > .num:nth-child(7) {
  transform: translate(0%, 20%) rotate(-6deg);
}
.fancy:hover > .num:nth-child(8) {
  transform: translate(0%, 30%) rotate(4deg);
}
.fancy:hover > .num:nth-child(9) {
  transform: translate(0%, -60%) rotate(-4deg);
}
.fancy:hover > .num:nth-child(10) {
  transform: translate(10%, -20%) rotate(-8deg);
}
.fancy:hover > .num:nth-child(11) {
  transform: translate(50%, -40%) rotate(3deg);
}
.fancy:hover > .num:nth-child(12) {
  transform: translate(120%, 40%) rotate(-10deg);
}
