* {
  padding: 0;
  margin: 0;
  border: 1px solid red;
}

header {
  display: grid;
  grid: auto / 1fr;
  color: white;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

nav a {
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

nav a:hover {
  background-color: rgba(19, 71, 202, 0.509);
}

.titulo {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      180.43deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(6, 6, 35, 0.8) 100%
    ),
    url(./imagenes/sky.jpg);
  width: 100%;
  background-size: cover;
  background-position: 50%;
  height: 500px;
}

.titulo__letras {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  font-weight: 200;
  font-size: 34px;
}

.titulo__letras h1 {
  margin-bottom: 25px;
}
.titulo__letras p {
  font-size: 24px;
}

.quien_soy {
  height: 400px;
  width: 80%;
  margin: auto;
}

.quienSoy__titulo {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

.container__soy {
  display: flex;
  align-items: center;
  background-color: rgba(8, 8, 115, 0.5);
  border-radius: 7px;
  height: 100%;
}

.container__soy img {
  height: 200px;
  width: 200px;
  border-radius: 50% 50%;
  margin: 20px;
}

.info {
  margin: 1rem;
  font-size: 20px;
}
/* AQUI HE TENDIO QUE PONER UN MARGIN TOP PORQUE LA SECTION CON EL QUIEN SOY Y EL ESTUDIOS SE ME SOBRE PONIA Y NO SE PORQUE */
.estudios {
  margin-top: 100px;
}

.estudios__programacion {
  width: 65%;
  height: 400px;
  background-image: url(./imagenes/codigo-foto.jpg);
  background-size: cover;
  background-position: 20%;
  margin: 20px;
}